<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net configSource="log4net.config" />
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="login_url" value="https://gorest.co.in/public-api/users" />
    <add key="login_api_key" value="fa114107311259f5f33e70a5d85de34a2499b4401da069af0b1d835cd5ec0d56" />
    <add key="content_type" value="application/json" />
  </appSettings>
</configuration>